<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <thead>
            <tr>Id</tr>
            <tr>Name</tr>
            <tr>Location</tr>
            <tr>Writer</tr><br>
        </thead>
       
    <tbody>
            
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.location}}</td>
                <td>{{book.writer}}</td><br><br>
                <td><form action="/edit/{{book.id}}" method="get">
                    <button type="submit">Edit</button></form></td>
                <td> <form action="/delete/{{book.id}}" method="post">
                    <button type="submit">Delete</button></form></td>
            </tr>
           
        </tbody>
    </table>
</body>
</html>